
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner() {
      return request.auth != null && request.auth.token.email == 'afc2c4@gmail.com';
    }

    match /users/{userId}/userProfile/{profileId} {
      allow read: if true;
      allow write: if isOwner();
    }

    match /users/{userId}/projects/{projectId} {
      allow read: if true;
      allow write: if isOwner();
    }

    match /users/{userId}/blogPosts/{postId} {
      allow read: if true;
      allow write: if isOwner();
    }
  }
}
