
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 261 20% 96%;
    --foreground: 261 60% 5%;
    --card: 0 0% 100%;
    --card-foreground: 261 60% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 261 60% 5%;
    --primary: 261 51% 47%;
    --primary-foreground: 261 20% 98%;
    --secondary: 231 48% 48%;
    --secondary-foreground: 231 20% 98%;
    --muted: 261 10% 90%;
    --muted-foreground: 261 10% 40%;
    --accent: 231 48% 48%;
    --accent-foreground: 231 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 15% 90%;
    --input: 261 15% 90%;
    --ring: 261 51% 47%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 261 40% 5%;
    --foreground: 261 20% 98%;
    --card: 261 40% 8%;
    --card-foreground: 261 20% 98%;
    --popover: 261 40% 8%;
    --popover-foreground: 261 20% 98%;
    --primary: 261 51% 60%;
    --primary-foreground: 261 20% 10%;
    --secondary: 231 48% 60%;
    --secondary-foreground: 231 20% 10%;
    --muted: 261 20% 15%;
    --muted-foreground: 261 10% 70%;
    --accent: 231 48% 60%;
    --accent-foreground: 231 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 20% 15%;
    --input: 261 20% 15%;
    --ring: 261 51% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
